*.jpeg
*.jpg
*.png

__pycache__
.dvc/
data/
models/

.dvcignore
.gitignore
.gitattributes
.dockerignore

docker-compose.yml
Dockerfile

face_finder.py
architectures.py
README.md
run_.ipynb
smallervggnet.py
model.py
train.py