*.jpeg
*.jpg
*.png

__pycache__
.dvc/
data/
models/
venv/

.dvcignore
.gitignore
.gitattributes
.dockerignore

Dockerfile
README.md

architectures.py
config.py
dataset.py
example.ipynb
model.py
run_.ipynb