*.jpeg
*.jpg
*.png

__pycache__
.dvc/
data/
models/
training_1/

.dvcignore
.gitignore
.gitattributes
.dockerignore

Dockerfile
README.md

config.py
architectures.py
smallervggnet.py
model.py
train.py
run_.ipynb