<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
</head>

<body>
    <div class="bd-example" align="middle">
        <p align="left">My implementation</p>
        <img src="{{url_for('static', filename='output.jpeg')}}" align="left" width="400" height="500" />

    </div>
    <div class="bd-example" align="middle">
        <p align="right">DLib reference</p>
        <img src="{{url_for('static', filename='dlib.jpeg')}}" align="right" width="400" height="500" />

    </div>
</body>

</html>